*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
    font-family: 'Nunito', sans-serif;
}

nav{
    margin-top: 30px;
    margin-bottom: 50px;
    background:#b32020;
    display: flex;
    justify-content: flex-end;
    box-shadow: black 0px 0px 10px;
}
#blankFlex{
    flex:0.5;
}
nav>#navImgWrap{
    flex: 0.8;
    margin: auto;
    color: white;
    display: flex;

    justify-content: center;
    text-align: center;
    align-items: center;

}
#navImgWrap>img{
    padding: 0 20px;
    height: 40px;
    filter: invert();
}
nav>ul{
    display: flex;
    flex: 1;
    font-weight: 600;
}
nav>ul>li{
    list-style: none;
}
nav>ul>li a{
    display: block;
    padding: 20px;
    text-decoration: none;
    color: ghostwhite;

}
nav>ul>li  a:hover{
    background-color: green; 
}
header{
    display: flex;
    flex-direction: column;
    background-image: url("assets/pizzaheader.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    
    justify-content: center;
    align-content: center;
}
header>#headerImg{
width: 100%;
position: absolute;
top: 0px;
z-index: -10;
opacity: 0.5;
}
header>input{
    width: 400px;
    margin: auto;
    background: ghostwhite;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    
}
#inputSearchIcon{
    width: 40px;
    margin: 0 auto;
    position: relative;
    right: -175px;
    bottom: 40px;
}
#inputSearchIcon:hover{
    cursor: pointer;
}
header>h1, h2{
    color: white;
    text-shadow: black 0px 0px 4px;

}
header>h1{
    font-size: 70px;
    font-weight: 600;
    
    font-family: 'Catamaran', sans-serif;
}
header>h2{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0px;
}
header>small{
    color: white;
    position:relative;
    bottom: 40px;
    margin-bottom: 50px;
}



#section1{
    background: whitesmoke;
  
}
#section1>h1{
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    color: #b32020;
    padding-top: 50px;

}
#section1>h2{
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    color: black;
    padding-bottom: 50px;
    text-shadow: none;
}



#section1>p{
    margin-top: 50px;
    justify-content: center;
    text-align: center;
}
#section1>p a{
    margin-top: 20px;
    justify-content: center;
    
    text-align: center;
    border-radius: 20px;
    background: green;
    color: white;
    padding:5px 10px;
    transition: 0.2s;
}
#section1>p a:hover{
    cursor: pointer;
    background: white;
    border: solid 2px green;
    color: green;
}

#headerFlexWrap{
    margin: auto;
 
    width: 90vw;
    display: flex;
    padding: 0 15vw;
    
}
.testimonialWrap{
    height: 200px;
    width: 150px;
    background: white;
    box-shadow: grey 0px 0px 5px;
    opacity: 0.9;
    margin: auto;
    padding:0 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: 0.2s;
}
.testimonialWrap:hover{
    transform: translateY(-5px);
}
.testimonialWrap>img{
    background: #303030;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin: auto;
}

.testimonialWrap>h3,p{
  

}
.testimonialWrap>h3{

}
.testimonialWrap>p{
    font-size: 12px;
}
.testimonialWrap>small{

    padding: 5px;
    color: #b32020;
}





.galleryWrap{
    
    border: solid 2px red;
}
.imgWrapper{
    margin: auto;
    border: solid 2px blue;
    width: 640px;
    display: flex;
}
.imgWrapper>img{

    width: 640px;
    height: 400px;
    border: solid 2px green;
}